<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".GabAIApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.GabAI">
        <activity
            android:name=".OverviewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ScanResultActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.example.gabai.scanner"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.GabAI.Fade" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.GabAI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoritesActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".HistoryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".QuizActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".InitiationActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".QuestDetailsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".DevEasterEggActivity" android:screenOrientation="portrait" android:exported="true" />

        <service
            android:name=".FloatingControlService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse|mediaProjection"> <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="Floating control bubble for AI reading assistance" />
        </service>
        <activity
            android:name=".AuthActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".CameraActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".LibraryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".ManageClassesActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".ClassDetailActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".TeacherLibraryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".PdfViewerActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SubjectDetailActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".StudentSubjectActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".QuizHistoryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".ProgressDashboardActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".LeaderboardActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".DailyQuestsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".TeacherPerformanceActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AchievementsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MaterialQuizActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".QuizEditorActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".WeeklyAssessmentActivity" android:screenOrientation="portrait" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>